.map-container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#controller {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;

  > div {
    align-items: center;
    display: flex;
    gap: 20px;
  }
}

.map-frame {
  border: 2px solid black;
  flex: 1;
}

#map {
  height: 100%;
}

.filter {
  width: 300px;
}