.map-container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#controller {
  padding: 20px;
}

#primary {
  margin-bottom: 20px;
}

#secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.map-frame {
  flex: 1;
}

#map {
  height: 100%;
}

.filter {
  min-width: 300px;
  max-width: 350px;
  margin-bottom: -22px;
}