#container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

ol {
  padding: 15px;
}

h1 {
  text-align: center;
}

.link-container {
  text-align: right;

  > a {
    color: grey;
  }
}